<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Drug Abuse Statistics in Singapore</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>

        <h1>Drug Abuse Statistics</h1>
        <p>Click the questions below to view the queried data and a visualization of the queried data</p>
        <ul>
            <li><a href="/q1">Over the last 5 years, which age group has seen the steepest increase in drug abuse cases?</a></li>
            <li><a href="/q2">What is the male-to-female ratio of drug abusers each year?</a></li>
            <li><a href="/q3">Are certain ethnic groups more represented among new offenders?</a></li>
            <li><a href="/q4">How has the use of specific drugs (e.g., Heroin, Cannabis) changed over time?</a> </li>
            <li><a href="/q5">What is the breakdown of drugs abused by new offenders? Is there a particular drug thats is more common for new drug abusers?</a></li>
        </ul>
    </body>
</html>
